.simple-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: relative;
}

.simple-right-col,
.simple-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple-right-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}

.simple-logo {
  justify-content: flex-start;
  font-size: 1.6rem;
  font-weight: 300;
}