.briefing-footer {
  z-index: 4;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.footer-navButton {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-navButton button {
  color: #000;
  background-color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-navButton button:hover {
  background-color: #e0e0e0;
}

.footer-navButton .invisible {
  visibility: hidden;
}