.hero-container {
  position: relative;
}

.hero-background {
  width: 100%;
  height: auto;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 2rem;
}

.hero-overlay h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.hero-overlay p {
  font-size: 1.2rem;
  color: white;
}

.carousel-wrapper {
  padding: 2rem;
}

.slick-slide {
  padding: 0 1rem;
  box-sizing: border-box;
}
.hero-card {
  background-color: white;
  color: black;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-card:hover {
  transform: translateY(-5px);
}

.hero-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-card .content {
  position: relative;
  z-index: 1;
  padding: 13rem 1rem 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-card h3 {
  margin: 0;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card p {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slick-dots li button:before {
  padding-top: 1rem;
  color: #999;
}
.slick-dots li.slick-active button:before {
  color: #333;
}
