.progressContainer {
  width: 80vw;
  max-width: 700px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progressHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
}

.stepCircle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c4a962;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 2;
}

.stepText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: linear-gradient(135deg, #d4af37, #c4a962);
  padding: 4px 12px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(196, 169, 98, 0.8);
  white-space: nowrap;

  animation: pulse 2.5s infinite ease-in-out;
}

/* Animação de pulso suave */
@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 8px rgba(196, 169, 98, 0.8);
    transform: translateX(-50%) scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(196, 169, 98, 1);
    transform: translateX(-50%) scale(1.05);
  }
}


.progressBarWrapper {
  position: relative;
  height: 20px;
  background-color: #eee;
  border-radius: 999px;
  overflow: hidden;
}

.progressFill {
  background: linear-gradient(90deg, #c4a962, #9c7c38);
  height: 100%;
  border-radius: 999px;
  transition: width 0.5s ease;
}

