.status {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  z-index: 998;
}


.status-left {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.stepCircle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c4a962;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.stepText {
  font-size: 14px;
  color: #333;
}

.progressBar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80vw;
  max-width: 100%;
  padding: 1rem 0;
}

.progressBar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  border-top: 2px dotted #ccc;
  transform: translateY(-50%);
  z-index: 0;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s;
}


.circle.active {
  background-color: #000;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #000 transparent transparent transparent
}