.profile-container {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-left-col,
.profile-center-col,
.profile-right-col {
  display: flex;
}

.profile-left-col {
  justify-content: flex-start;
  width: 30%;
  font-size: 1.6rem;
  font-weight: 300;
}

.profile-center-col {
  justify-content: right;
  gap: 3rem;
  width: 60%;
}

.profile-right-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.profile-pic-thumb img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  object-fit: cover;;
}

.profile-pic-thumb img:hover {
  cursor: pointer;
  border: 2px solid #999;
}

.profile-dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  list-style: none;
  margin: 0;
}

.profile-dropdown-menu li {
  gap: 0.5rem;
  display: flex;
  align-items: center;;
  padding: 0.8rem 1rem;
  font-size: 0.95rem;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.profile-dropdown-menu li:hover {
  background-color: #e3f2fd;
  color: #0d47a1;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  padding: 10px 15px;
  color: #4b5563;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

