.navbar {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
}

.colone,
.nav-links,
.colthree {
  display: flex;
  flex: 1;
  justify-content: center;
}

.colone {
  justify-content: flex-start;
}

.nav-links {
  gap: 3rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

a:hover {
  color: #c4a962;
}

a.active {
  color: #c4a962;
  font-weight: 500;
}

.colthree {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
