.navbar {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo {
    flex: 1;
    display: flex;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 300;
    position:absolute;
    left: 5rem;
    
  }
  
  .nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 3rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  
  .nav-links .active {
    color: #c4a962;
    font-weight: 500;
  }
  
.espaco-vazio {
  flex: 1;
}