  .cadastro-container {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    justify-content: center;
  }

  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topo h1 {
    font-size: 24px;
    font-weight: normal;
  }

  .voltar {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }

  .titulo {
    text-align: center;
    font-weight: 400;
    margin: 40px 0 30px;
  }

 .formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 80%; 
}

  .linha {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .campo {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .campo.pequeno {
    max-width: 100px;
  }

  .campo label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .campo input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    font-size: 16px;
  }

  .btn-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  button[type="submit"] {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #444;
  }

.radio-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: .5rem;
}

  .radio-group label {
    display: inline-block;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  input[type="radio"]:checked + label {
    background: #c4a962;
    color: white;
    border-color: #c4a962;
  }